<section id="about" class="about bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <p class="lead">
          <h2><a target="_blank" href="https://sif.uin-suska.ac.id/">Information System Department </a></h2>
          <br> 
           <a target="_blank" href="https://fst.uin-suska.ac.id/"> Science and Technology Faculty</a> 
          <br> <a target="_blank" href="https://uin-suska.ac.id/">State Islamic University of Sultan Syarif Kasim Riau</a>..</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
