<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        
        <p class="lead">Mahasiswa S1 Jurusan 
          <a target="_blank" href="https://sif.uin-suska.ac.id/">Sistem Informasi </a>
          <br> 
          Fakultas <a target="_blank" href="https://fst.uin-suska.ac.id/">Sains dan Teknologi</a> 
          <br> <a target="_blank" href="https://uin-suska.ac.id/">Universitas Islam Negeri Riau</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
