<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Visit My</h3>
        <a href="https://lengaututorial.blogspot.co.id/" class="btn btn-lg btn-dark">Blog</a>
        <a href="https://www.youtube.com/channel/UChBMIDQCF8_o_zreb6N7qwQ" class="btn btn-lg btn-dark">Channel Youtube</a>
        <a href="https://www.linkedin.com/in/muhammad-ikhlas-pratama-932341142/" class="btn btn-lg btn-dark">linkedin</a>
      </div>
    </div>
  </div>
</aside>
